---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header>
    <div class="topnav">
      <div class="burger" id="burger">☰</div>
      <ul class="links" id="navLinks">
        <li><a href="/aboutus">OUR STORY</a></li>
        <li><a href="/community">COMMUNITY</a></li>
        <li><a href="/product_list">SHOP</a></li>
        <li><a href="/product_list#Events">EVENTS</a></li>
      </ul>
    </div>
    <div class="nav_logo">
      <a href="/"><img src="/src/assets/logo.png" alt="Logo" id="logo_1" /></a>
      <a href="/"><img src="src/assets/desktop_nav_name.png" id="logo_2" /></a>
    </div>
  </header>

  <section class="Community_info">
    <h1>COMMUNITY</h1>
    <div class="community_logo">
      <img src="src/assets/collective_logo.png" />
    </div>
    <div class="community_text">
      <h3>Movement Without Limits</h3>
      <p>
        Our mission is to create an inclusive, empowering community where women
        can reclaim their health and well-being. Through Reclaim Collective, we
        support women of all backgrounds—particularly those who embrace
        modesty—to pursue an active lifestyle without limitations. Together, we
        foster a space for growth, movement, and connection, helping every woman
        find strength, confidence, and joy in wellness. We believe wellness
        should reflect the diversity of every woman’s experience. From
        thoughtfully designed activewear like sports hijabs to community-led
        events, we create space for women to move freely, feel empowered, and
        thrive—on their own terms.
      </p>
    </div>
  </section>

  <section class="Events">
    <h1>Upcoming Events</h1>
    <div class="event_grid">
      <img src="src/assets/producter/Aalborg_community_run.png" />
      <img src="src/assets/producter/running_essentials_event.png" />
    </div>
    <a href="/event_gallery"
      ><button class="Events_button">Our Events</button>
    </a>
  </section>

  <section class="collective">
    <h2>Stay Updated On</h2>
    <h1>COLLECTIVE SOCIALS</h1>
    <div>
      <a
        href="https://www.instagram.com/reclaimactive?igsh=MXFrZWxvank1YmpmeA%3D%3D"
        target="_blank"><img src="src/assets/instagram.png" /></a
      >
      <a
        href="https://www.facebook.com/profile.php?id=61563474538002"
        target="_blank"
      >
        <img src="src/assets/facebook.png" /></a
      >
    </div>
  </section>

  <section class="Community">
    <h2>Stay Updated On</h2>
    <h1>COLLECTIVE SOCIALS</h1>
    <div>
      <a
        href="https://www.instagram.com/reclaimactive?igsh=MXFrZWxvank1YmpmeA%3D%3D"
        target="_blank"><img src="src/assets/instagram_icon.png" /></a
      >
      <a
        href="https://www.facebook.com/profile.php?id=61563474538002"
        target="_blank"
      >
        <img src="src/assets/facebook_icon.png" /></a
      >
      <a
        href="https://www.tiktok.com/@reclaimactive?_t=8p1fMl26r0z&_r=1"
        target="_blank"><img src="src/assets/tiktok_icon.png" /></a
      >
    </div>
  </section>

  <footer>
    <div class="footer_logo">
      <img src="src/assets/logo_footer.png" />
    </div>

    <div class="part_1">
      <h4>INFORMATION</h4>
      <p>FAQ & Contact</p>
      <p>Priacy & Cookie policy</p>
    </div>
    <div class="part_2">
      <h4>CONTACT US</h4>
      <p>CVR : 38572377</p>
      <p>info@reclaimeactive.com</p>
      <p>2025 Reclaime Active All rights reserved</p>
    </div>
    <div class="part_3">
      <h4>NEWSLETTER</h4>
      <p>
        Join our email list and get alerted of new launches, special offers and
        restocks.
      </p>
      <form class="email-form">
        <label for="email">Tilmeld dig vores nyhedsbrev:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Indtast din e-mail"
          required
        />
        <button type="submit">Tilmeld</button>
      </form>
    </div>
  </footer>

  <script is:inline>
    const burger = document.getElementById("burger");
    const navLinks = document.getElementById("navLinks");

    burger?.addEventListener("click", () => {
      navLinks?.classList.toggle("active");
    });
  </script>
</Layout>

<style>
  body {
    background: linear-gradient(200deg, #fffdf2 0%, #e6f2e2 50%, #fe4d34 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  @media (max-width: 768px) {
    /*HEADER*/
    header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      padding: 10px 20px;
    }
    .topnav {
      grid-column: 1 / 2;
      display: flex;
      align-items: center;
    }
    .nav_logo {
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
    }
    .nav_logo img {
      height: 40px;
    }
    .links {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      list-style: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 80vw;
      height: 25%;
      background-color: #fffdf2;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      font-size: 1.2rem;
      gap: 20px;
    }
    .links.active {
      display: flex;
    }
    .links li a {
      color: #000;
      text-decoration: none;
      font-weight: bold;
    }
    .burger {
      display: block;
      font-size: 32px;
      cursor: pointer;
      z-index: 1100;
      padding: 10px;
    }
    #logo_2 {
      display: none;
    }

    /*COMMUNITY INFO SECTION*/
    .Community_info h1 {
      padding-top: 50px;
      padding-bottom: 10px;
      text-align: center;
    }
    .Community_info img {
      width: 100%;
      margin: 1rem;
    }
    .Community_info {
      align-items: center;
      justify-content: center;
    }
    .community_text {
      text-align: center;
      justify-content: center;
    }
    /*COLLECTIVE SECTION*/
    .collective h2 {
      color: #fe4d34;
    }
    .collective {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
    }

    .collective img {
      width: 150px;
      margin: 1rem;
    }

    /*EVENT SECTION*/
    .Events h1 {
      color: #fe4d34;
    }
    .Events {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
    }
    .event_grid {
      margin: 0 auto;
      padding: 20px;
      justify-content: center;
      align-items: center;
    }

    .event_grid img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      padding-bottom: 1rem;
    }
    .Events_button {
      padding: 0.75rem 1.5rem;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 999px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .Events_button:hover {
      background-color: #333;
    }

    /* COMMUNITY SECTION*/
    .Community h2 {
      color: #fe4d34;
    }
    .Community {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
    }

    /*FOOTER*/
    .email-form {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;
      flex-wrap: wrap;
    }

    .email-form input[type="email"] {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 999px;
      min-width: 250px;
      max-width: 100%;
      outline: none;
      transition: border-color 0.2s;
    }

    .email-form input[type="email"]:focus {
      border-color: #000;
    }

    .email-form button {
      padding: 0.75rem 1.5rem;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 999px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .email-form button:hover {
      background-color: #333;
    }
    footer {
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: auto;
    }
    .footer_logo {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .part_1 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .part_2 {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .part_3 {
      grid-column: 1/3;
      grid-row: 3/4;
    }
    .part_1,
    .part_2,
    .part_3,
    .footer_logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  @media (min-width: 1024px) {
    /* HEADER/NAVIGATION*/
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 40px;
      position: fixed;
      top: 0;
      z-index: 999;
      width: 90%;
    }
    .topnav {
      order: 2; /* sender navigationen til højre */
      display: flex;
      align-items: flex-end;
      gap: 30px;
    }
    .nav_logo {
      order: 1; /* sender logoet til venstre */
      display: flex;
      align-items: center;
    }
    #logo_1 {
      height: 60px;
    }
    #logo_2 {
      height: 20px;
    }
    .links {
      display: flex;
      flex-direction: row;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #fffdf2;
    }
    .links li a {
      color: #000;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 0.5px;
    }
    .burger {
      display: none; /* skjul burger på desktop */
    }

    /*COMMUNITY INFO SECTION*/
    .Community_info {
      margin-top: 8rem;
      align-items: center;
      justify-content: center;
    }
    .Community_info h1 {
      padding-top: 50px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 250%;
    }
    .Community_info img {
      width: 80%;
      margin: 2rem;
    }
    .Community_info {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .community_text {
      text-align: center;
      justify-content: center;
    }
    .community_text {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .community_logo {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    h1 {
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .community_text h3 {
      font-size: 175%;
    }
    .community_text p {
      font-size: 150%;
      margin-right: 2rem;
    }

    /*EVENT SECTION*/
    .Events h1 {
      color: #fe4d34;
      font-size: 250%;
    }
    .Events {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
    }
    .event_grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      margin: 0 auto;
      padding: 20px;
      max-width: 1000px; /* eller hvad der passer til dit layout */
      justify-content: center;
      align-items: center;
    }
    .event_grid img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      padding-bottom: 1rem;
    }
    .Events_button {
      padding: 0.75rem 1.5rem;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 999px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .Events_button:hover {
      background-color: #333;
    }

    /*COLLECTIVE SECTION*/
    .collective h2 {
      color: #fe4d34;
    }
    .collective {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
    }

    .collective img {
      width: auto;
      margin: 1rem;
    }

    /* COMMUNITY SECTION*/
    .Community h2 {
      color: #fe4d34;
    }
    .Community {
      padding-top: 50px;
      padding-bottom: 150px;
      text-align: center;
    }
    /* FOOTER*/
    .email-form {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;
      flex-wrap: wrap;
    }
    .email-form input[type="email"] {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 999px;
      min-width: 250px;
      max-width: 100%;
      outline: none;
      transition: border-color 0.2s;
    }
    .email-form input[type="email"]:focus {
      border-color: #000;
    }
    .email-form button {
      padding: 0.75rem 1.5rem;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 999px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .email-form button:hover {
      background-color: #333;
    }
    footer {
      display: grid;
      grid-template-columns: 3;
      grid-template-rows: auto;
      margin-bottom: 2rem;
    }
    .footer_logo {
      grid-column: 1/3;
      grid-row: 1/2;
      justify-self: center;
    }
    .part_1 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    .part_2 {
      grid-column: 3/4;
      grid-row: 2/3;
    }
    .part_3 {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    .part_1,
    .part_2,
    .part_3,
    .footer_logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
</style>
