---
type Product = {
  id: number;
  name: string;
  image: string;
  imagescr: string;
  catagory: string;
};

const { product } = Astro.props;
---

<section class="card-grid">
  <article class="card">
    <a href={`/product/${product.id}`}>
      <img src={product.image_url} alt={product.name} />
      <h3>{product.name}</h3>
      <button class="Basket_button">Add to Basket</button>
    </a>
  </article>
</section>

<style>
  @media (max-width: 768px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      margin-bottom: 1.5rem;
    }

    .card a {
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .card img {
      max-width: 150px;
      height: auto;
      object-fit: cover;
      border-radius: 12px;
    }

    .card-content {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .card h3 {
      font-family: "Georgia", serif;
      font-weight: bold;
      color: #000000;
      font-size: 1rem;
      margin-top: 1rem;
    }

    .card p {
      color: #000000;
      margin-bottom: 0.5rem;
    }

    .Basket_button {
      padding: 0.5rem 1rem;
      margin: 0.5rem 1rem;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 999px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .Basket_button:hover {
      background-color: #333;
    }
  }
  @media (min-width: 1024px) {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      margin-bottom: 1.5rem;
    }

    .card a {
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .card img {
      max-width: 300px;
      height: auto;
      object-fit: cover;
      border-radius: 12px;
    }

    .card-content {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .card h3 {
      font-family: "Georgia", serif;
      font-weight: bold;
      color: #000000;
      font-size: 1rem;
      margin-top: 1rem;
    }

    .card p {
      color: #000000;
      margin-bottom: 0.5rem;
    }

    .Basket_button {
      padding: 0.5rem 1rem;
      margin: 0.5rem 1rem;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 999px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .Basket_button:hover {
      background-color: #333;
    }
  }
</style>
